<p>video-detail works!</p>

<button [hidden]="update" (click)="onAddNewVideo()" class="btn btn-primary float-right mb-1">+ New Video</button>

<div *ngIf="video != null && !update && video.url != null">
    <iframe [src]="video.url | safe" frameborder="0" height="300" width="100%"
    allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<form #form="ngForm" (ngSubmit)="onSubmitVideo(form.value)">
    <div class="card" *ngIf="video != null">
        <div *ngIf="!update" class="card-header">{{ video.title }}</div>
        <div *ngIf="update" class="form-group mx-3 mt-3">
            <input 
                type="input" 
                class="form-control" 
                name="title" 
                required 
                placeholder="title"
                [(ngModel)]="video.title"
            >
        </div>
        <!--   put I-FRAME here   -->
        <div *ngIf="update" class="form-group mx-3">
            <input 
                type="input" 
                class="form-control" 
                name="url" 
                required 
                placeholder="url"
                [(ngModel)]="video.url"
            >
        </div>
        <div *ngIf="!update" class="card-body">{{ video.description }}</div>
        <div *ngIf="!update" class="card-body" >{{ video._id }}</div>
       
        <div *ngIf="update" class="form-group mx-3">
            <textarea type="input" class="form-control" rows="5" name="description" placeholder="Put description here..." [(ngModel)]="video.description"></textarea>
        </div>
        <div class="form-group mx-3">
            <button type="button" class="btn btn-sm btn-outline-warning" 
                (click)="updateOrSave()">{{ btnName }}</button>
            <button *ngIf="update" type="submit" class="btn btn-sm btn-outline-success ml-3">SAVE</button>
            <button *ngIf="update" type="button" class="btn btn-sm btn-outline-danger ml-3"
                (click)="onDelete(video._id)">DELETE</button>
        </div>
    </div>
    
    
</form>

<div style="margin-top: 125px;">
    <p [hidden]="video">Select a Video from the list.</p>
</div>

<p>Update is not working</p>
<p>Delete does not delete the correct one</p>
<p>Some will not delete at all</p>
<p>Post/Create is not grabbing _id like I thought it was</p>
<p style="margin-bottom: 250px;">Review Video 30: Forms</p>
